body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  padding: 8rem 4rem 2rem 4rem;
  max-width: 100%;
}

nav {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 4rem;
  background-color: #0b0909;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 99;
}

nav .nav-start {
  /* margin-left: -80px; */
  display: flex;
  align-items: center;
  gap: 68px;
}

nav .nav-start a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  padding: 8px 0;
  padding: ;
}

.active {
  border-bottom: 2px solid #ff8906;
}

nav .nav-end {
  /* margin-right: -80px; */
  display: flex;
  align-items: center;
  gap: 22px;
}

nav .nav-end a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

nav .nav-end .signin {
  padding: 16px 22px;
  border: 1px solid #fff;
  border-radius: 5px;
}

nav .nav-end .signup {
  padding: 16px 22px;
  border-radius: 5px;
  background-color: #ff8906;
  border: none;
  color: #0b132a;
}

.burger-menu {
  display: none;
}

.main .title {
  font-size: 3rem;
  color: #0b0909;
}

.profile {
  width: 100%;
  display: flex;
}

.profile-image {
  width: 26%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #e8e8e8;
  padding: 22px;
  text-align: center;
  margin-right: 1.5rem;
}

.profile-image .name {
  font-size: 22px;
  font-weight: 500;
  color: #0b132a;
}

.profile-image .email {
  margin-top: 6px;
  color: #0b132a;
}

.profile-image img {
  margin: 1rem 0;
  border-radius: 100%;
  width: 120px;
}

.upload-photo {
  font-size: 14px;
  font-weight: 500;
  color: #0b132a;
  background-color: #ff8906;
  border: none;
  padding: 16px 0;
  border-radius: 5px;
}

.since {
  margin-top: 1rem;
  color: #4f5665;
}

.since .date {
  font-weight: 600;
}

.profile-user {
  width: 100%;
  border: 2px solid #e8e8e8;
}

/* form profile */

form {
  padding: 22px 3rem 3rem 3rem;
  position: relative;
}

form label {
  margin-top: 25px;
  display: block;
  color: #0b132a;
  font-weight: 600;
}

form input {
  margin-top: 13px;
  display: block;
  box-sizing: border-box;
  border: 2px solid #dedede;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  padding: 13px 50px;
  letter-spacing: 0.75px;
  font-size: 0.9rem;
  outline: none;
}

form input:focus {
  border: 2px solid #0b132a;
}

.input-icon-profile {
  position: absolute;
  top: 6rem;
  left: 4.5rem;
}

.input-icon-mail {
  position: absolute;
  top: 13rem;
  left: 4.5rem;
}

.input-icon-phone {
  position: absolute;
  top: 19.8rem;
  left: 4.5rem;
}

.input-icon-password {
  position: absolute;
  top: 26.6rem;
  left: 4.5rem;
}

.input-icon-eyeslash {
  position: absolute;
  top: 26.6rem;
  right: 4.5rem;
  /* right: 25px; */
}

.set-password {
  color: #ff8906;
  position: absolute;
  top: 23.4rem;
  right: 3rem;
}

.input-icon-address {
  position: absolute;
  top: 33.3rem;
  left: 4.5rem;
}

.button-submit {
  box-sizing: border-box;
  margin-top: 25px;
  width: 100%;
  height: 52px;
  background-color: #ff8906;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1rem;
  color: #0b132a;
}

/* footer */
footer {
  margin-top: 3rem;
  max-width: 100%;
  gap: 25px;
  padding: 3rem 4rem 3rem 4rem;
  /* padding: 50px; */
  display: flex;
  gap: 40px;
  background-color: #f8f8f8;
}

.about {
  max-width: 30%;
  align-self: flex-end;
}

.about p {
  color: #4f5665;
  line-height: 30px;
  paragraph-spacing: 5px;
}

.about .copyright {
  font-family: "Rubik";
  color: #afb5c0;
}

.list-products p:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
  color: #0b132a;
}

.list-engage p:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
  color: #0b132a;
}

.list-products p,
.list-engage p {
  color: #4f5665;
}

.social-media {
  width: 30%;
}

.social-media p {
  font-size: 18px;
  font-weight: 500;
  color: #0b132a;
}

.icon-social-media {
  display: flex;
  margin-left: -20px;
}

.icon-social-media img {
  margin-right: -16px;
}

/* Mobile */
@media screen and (max-width: 600px) {
  nav {
    /* width: 100%; */
    /* max-width: 100%; */
  }

  nav {
    padding: 1rem 2rem;
  }

  .nav-end a:nth-child(2) img,
  .nav-end a:nth-child(5) img {
    width: 2rem;
  }

  .nav-start a:nth-child(2),
  .nav-start a:nth-child(3),
  .nav-end a:nth-child(1),
  .nav-end a:nth-child(3),
  .nav-end a:nth-child(4) {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .container {
    padding: 6rem 2rem;
  }

  .profile {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .profile-image {
    width: 100%;
    margin-right: 0;
  }

  .main .title {
    font-size: 2rem;
  }

  .profile-image .name {
    font-size: 18px;
  }

  .profile-image .email {
    font-size: 14px;
  }

  .profile-user form {
    padding: 1.2rem 12px 1rem 12px;
  }

  form label:nth-child(1) {
    margin-top: 0;
  }

  form label {
    font-size: 14px;
  }

  form input {
    font-size: 12px;
    letter-spacing: 0.75px;
  }

  .input-icon-profile {
    top: 4rem;
    left: 2rem;
  }

  .input-icon-mail {
    top: 10.8rem;
    left: 2rem;
  }

  .input-icon-phone {
    top: 17.5rem;
    left: 2rem;
  }

  .input-icon-password {
    top: 24rem;
    left: 2rem;
  }

  .input-icon-eyeslash {
    top: 24rem;
    right: 2rem;
  }

  .set-password {
    font-size: 14px;
    top: 21.2rem;
    right: 1rem;
  }

  .input-icon-address {
    top: 30.5rem;
    left: 2rem;
  }

  .button-submit {
    font-size: 14px;
  }

  footer {
    max-width: 100%;
    margin-top: -3rem;
    padding: 6rem 2rem 8rem 2rem;
    flex-wrap: wrap;
    gap: 2rem 5rem;
  }

  .about {
    max-width: 100%;
    margin-bottom: -3rem;
  }

  .about .copyright {
    position: relative;
    top: 30rem;
  }

  .list-product {
    max-width: 100%;
  }

  .list-engage {
    max-width: 100%;
  }
}
