body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  /* font-size: 1rem; */
}

.container {
  display: flex;
}

/* .section img {
  width: 290px;
} */

.aside {
  padding: 30px 100px;
}

.form-register .text-register {
  margin-top: 51px;
  color: #8e6447;
  font-weight: 600;
  font-size: 1.5rem;
}

.form-register .text-light {
  margin-top: 25px 0;
  font-weight: 300;
  /* margin-top: 30px; */
}

.form-register form label {
  margin-top: 25px;
  display: block;
  color: #0b132a;
  font-weight: 600;
}

.form-register form input {
  margin-top: 13px;
  display: block;
  box-sizing: border-box;
  border: 2px solid #dedede;
  border-radius: 8px;
  width: 640px;
  height: 50px;
  padding: 13px 50px;
  letter-spacing: 0.75px;
  font-size: 0.9rem;
  outline: none;
}

.form-register form input:focus {
  border: 2px solid #0b132a;
}

.form-register {
  position: relative;
}

.input-icon-profile {
  position: absolute;
  top: 150px;
  left: 20px;
}

.input-icon-mail {
  position: absolute;
  top: 260px;
  left: 20px;
}

.input-icon-password {
  position: absolute;
  top: 370px;
  left: 20px;
}

.input-icon-confirm-password {
  position: absolute;
  top: 480px;
  left: 20px;
}

.button-register {
  box-sizing: border-box;
  margin-top: 25px;
  width: 640px;
  height: 45px;
  padding: 10px 10px;
  background-color: #ff8906;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1rem;
  color: #0b132a;
}

.have-account {
  margin-top: 25px;
  text-align: center;
  text-shadow: 1px 1px 20px;
  color: #4f5665;
}

.have-account span {
  color: #ff8906;
}

.or {
  position: relative;
  font-size: 12px;
}

.or hr {
  color: #dedede;
  width: 225px;
  border: 0.5px solid #dedede;
}

.or .hr-start {
  position: absolute;
  top: 5px;
}

.or .hr-end {
  position: absolute;
  top: 5px;
  right: 0;
}

.or p {
  color: #aaaaaa;
  text-align: center;
}

.button-account {
  margin-top: 25px;
}

.button-account button {
  width: 315px;
  padding: 20px 10px;
  border: none;
  background-color: #fff;
  border-radius: 16px;
  color: #4f5665;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
  font-size: 18px;
  font-weight: 500;
}

.button-account .facebook-account {
  position: relative;
  margin-right: 14px;
}

.button-account .facebook-account .facebook-icon {
  position: absolute;
  top: 18px;
  left: 80px;
}

.button-account .google-account {
  position: relative;
}

.button-account .google-account .google-icon {
  position: absolute;
  top: 18px;
  left: 80px;
}

/* media 426px */
@media screen and (max-width: 600px) {
  .aside {
    margin: 0;
    padding: 80px 40px;
  }

  .section img {
    display: none;
  }

  .aside .logo {
    width: 300px;
  }

  .form-register .text-register {
    margin-top: 15px;
    color: #8e6447;
    font-weight: 600;
    font-size: 2rem;
  }

  .form-register .text-light {
    margin-top: 20px;
    font-size: 1.4rem;
  }

  .form-register form label {
    margin-top: 20px;
    font-size: 1.4rem;
  }

  .form-register input {
    margin-top: 13px;
  }

  .form-register form input {
    border-radius: 16px;
    width: 640px;
    height: 80px;
    padding: 13px 85px;
    font-size: 1.3rem;
  }

  .input-icon-profile {
    width: 28px;
    top: 185px;
    left: 35px;
  }

  .input-icon-mail {
    width: 28px;
    top: 330px;
    left: 35px;
  }

  .input-icon-password {
    width: 28px;
    top: 470px;
    left: 35px;
  }

  .input-icon-confirm-password {
    width: 28px;
    top: 610px;
    left: 35px;
  }

  .button-register {
    margin-top: 20px;
    width: 640px;
    height: 80px;
    padding: 10px 10px;
    font-size: 1.6rem;
    border-radius: 10px;
  }

  .have-account {
    margin: 20px 0;
    font-size: 1.4rem;
    text-shadow: none;
  }

  .or p {
    font-size: 1.2rem;
  }

  .button-account {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .button-account .facebook-account {
    width: 100px;
    height: 100px;
    margin-right: 40px;
  }

  .button-account .google-account {
    width: 100px;
    height: 100px;
  }

  .button-account .facebook-account span {
    display: none;
  }

  .button-account .google-account span {
    display: none;
  }

  .button-account .facebook-account .facebook-icon {
    width: 40px;
    top: 30px;
    left: 30px;
  }

  .button-account .google-account .google-icon {
    width: 40px;
    top: 30px;
    left: 30px;
  }
}
