body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  /* font-size: 1rem; */
}

.container {
  display: flex;
  width: 100%;
}

.section img {
  max-width: 100%;
}

.aside-register {
  padding: 80px 80px;
}

.aside-login {
  padding: 120px 80px;
}

.logo {
  width: 150px;
}

.text-register,
.text-login {
  margin-top: 51px;
  color: #8e6447;
  font-weight: 600;
  font-size: 1.5rem;
}

.text-light {
  margin-top: 25px 0;
  font-weight: 300;
}

form label {
  margin-top: 25px;
  display: block;
  color: #0b132a;
  font-weight: 600;
}

form input {
  margin-top: 13px;
  display: block;
  box-sizing: border-box;
  border: 2px solid #dedede;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  padding: 13px 50px;
  letter-spacing: 0.75px;
  font-size: 0.9rem;
  outline: none;
}

form input:focus {
  border: 2px solid #0b132a;
}

.form-register,
.form-login {
  position: relative;
}

.form-register .input-icon-profile {
  position: absolute;
  top: 150px;
  left: 20px;
}

.form-register .input-icon-mail {
  position: absolute;
  top: 260px;
  left: 20px;
}

.form-login .input-icon-mail {
  position: absolute;
  top: 150px;
  left: 20px;
}

.form-register .input-icon-password {
  position: absolute;
  top: 370px;
  left: 20px;
}

.form-register .input-icon-eyeslash1 {
  position: absolute;
  top: 370px;
  right: 25px;
}

.form-login .input-icon-password {
  position: absolute;
  top: 260px;
  left: 20px;
}

.form-login .input-icon-eyeslash {
  position: absolute;
  top: 260px;
  right: 25px;
}

.form-register .input-icon-confirm-password {
  position: absolute;
  top: 480px;
  left: 20px;
}

.form-register .input-icon-eyeslash2 {
  position: absolute;
  top: 480px;
  right: 25px;
}

.button-register,
.button-login {
  box-sizing: border-box;
  margin-top: 25px;
  width: 640px;
  height: 45px;
  padding: 10px 10px;
  background-color: #ff8906;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1rem;
  color: #0b132a;
}

.have-account {
  margin-top: 25px;
  text-align: center;
  text-shadow: 1px 1px 20px;
  color: #4f5665;
  font-size: 1rem;
}

.have-account span {
  color: #ff8906;
}

.or {
  position: relative;
  font-size: 12px;
}

.or hr {
  color: #dedede;
  width: 225px;
  border: 0.5px solid #dedede;
}

.or .hr-start {
  position: absolute;
  top: 3px;
}

.or .hr-end {
  position: absolute;
  top: 3px;
  right: 0;
}

.or p {
  color: #aaaaaa;
  text-align: center;
}

.button-account {
  margin-top: 25px;
  display: flex;
}

.button-account button {
  width: 315px;
  padding: 20px 10px;
  border: none;
  background-color: #fff;
  border-radius: 16px;
  color: #4f5665;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
  font-size: 18px;
  font-weight: 500;
}

.button-account .facebook-account {
  position: relative;
  margin-right: 14px;
}

.button-account .facebook-account .facebook-icon {
  position: absolute;
  top: 18px;
  left: 80px;
}

.button-account .google-account {
  position: relative;
}

.button-account .google-account .google-icon {
  position: absolute;
  top: 18px;
  left: 80px;
}

/* mobile */
@media screen and (max-width: 600px) {
  .aside-login {
    width: 100%;
    margin: 0;
    padding: 80px 2rem;
  }

  .aside-register {
    width: 100%;
    margin: 0;
    padding: 4rem 2rem;
  }

  .section img {
    display: none;
  }

  .logo {
    width: 160px;
  }

  .text-register,
  .text-login {
    margin-top: 15px;
    color: #8e6447;
    font-weight: 600;
    font-size: 18px;
  }

  .text-light {
    margin-top: 20px;
    font-size: 14px;
  }

  form label {
    margin-top: 20px;
    font-size: 14px;
  }

  .form-register input {
    margin-top: 13px;
  }

  form input {
    border-radius: 8px;
    padding: 13px 50px;
    font-size: 12px;
  }

  .form-register .input-icon-profile,
  .form-login .input-icon-mail {
    top: 8rem;
    left: 1.4rem;
  }

  .form-register .input-icon-mail,
  .form-login .input-icon-password {
    top: 14.3rem;
    left: 1.4rem;
  }

  .form-register .input-icon-password {
    top: 20.7rem;
    left: 1.4rem;
  }

  .form-register .input-icon-eyeslash1 {
    position: absolute;
    top: 20.7rem;
    right: 1.4rem;
  }

  .form-login .input-icon-eyeslash {
    position: absolute;
    top: 14.5rem;
    right: 1.4rem;
  }

  .form-register .input-icon-confirm-password {
    top: 27rem;
    left: 1.4rem;
  }

  .form-register .input-icon-eyeslash2 {
    position: absolute;
    top: 27rem;
    right: 1.4rem;
  }

  .button-register,
  .button-login {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    font-size: 1rem;
    border-radius: 10px;
  }

  .have-account {
    margin: 20px 0;
    font-size: 14px;
    text-shadow: none;
  }

  .or p {
    font-size: 12px;
  }

  .or .hr-start,
  .or .hr-end {
    width: 10rem;
  }

  .button-account {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  .button-account .facebook-account {
    order: 2;
    width: 5rem;
    height: 5rem;
  }

  .button-account .google-account {
    order: 1;
    width: 5rem;
    height: 5rem;
    margin-right: 40px;
  }

  .button-account .facebook-account span {
    display: none;
  }

  .button-account .google-account span {
    display: none;
  }

  .button-account .facebook-account .facebook-icon {
    top: 30px;
    left: 30px;
  }

  .button-account .google-account .google-icon {
    top: 30px;
    left: 30px;
  }
}
